<div class="site-header">
  <header class="site_header">
    <div class="container">
      <a href="/"> Home </a>
      <a href="/recipes"> Recipes </a>
      <a href="/add-recipe"> Add Recipe </a>
    </div>
  </header>
</div>