<!DOCTYPE html>
<html>
  <head>
    <title>Add Recipe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <%- include('partials/header') %>

    <form action="/add-recipe" method="POST">
        <h3>Recipe Name</h3>
        <input type="text" name="name">

        <h3>Protein Type</h3>
        <input type="text" name="protein_type">

        <h3>Description</h3>
        <input type="text" name="description">

        <h3>Ingredients</h3>
        <% ingredients.forEach((ingredient) => { %>
            <label>
                <input type="checkbox" name="ingredients" value="<%= ingredient.id %>">
                <%= ingredient.name %>
            </label><br>
        <% }) %>

        <h3>Instructions</h3>
        <input name="instructions"></input>

        <button type="submit">Add Recipe</button>
    </form>

    <%- include('partials/footer') %>
  </body>
</html>
