<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <%- include('partials/header') %>

  <body>
    <h1>Welcome to My Recipes!</h1>
    <p>My favorite food is sarma, stuffed grape leaves. It is such a labor-intensive dish that my family only cooks it on special days. "Special days" became whenever I visit back home lately.</p>
    <p>I have been cooking since the beginning of high school, as I was too bored during lockdown. I cook most weekends to avoid Mabee food and gather my friends.</p>
    <p>I gathered a some recipes that I grew up eating. You can add yours as well!</p>
  </body>
</html>
