<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <%- include('partials/header') %>

  <body>
    <h1>Welcome to My Recipes!</h1>
    <p>I gathered a some recipes that I grew up eating. You can add yours as well!</p>
  </body>
</html>
